.politician-info-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.politician-info-container img {
  min-width: 300px;
  max-width: 20vw;
  height: auto;
}

.politician-info {
  margin: 10px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
  text-align: center;
}

.politician-info p{
  margin-bottom: 10px;
}

.legislaturas-ul {
  list-style: none;
  margin: 5px;
}

.loading-icon-container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.loading-icon-historical {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  flex-flow: column wrap;
}

.legis-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legis-text {
  font-size: 0.95rem;
  color: #333;
}

.presenca-sessoes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.charts-container {
  display: flex;
  flex-flow: row wrap;
}