.politician-info-container {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
}

.politician-info-container img {
  height: auto;
  width: 130px;
}

.politician-info {
  margin: 10px;
  font-size: 0.8rem;
}

.politician-info p{
  margin-bottom: 10px;
}

.info-container {
  padding: 20px;
}

.legislaturas-ul {
  list-style: none;
  margin: 5px;
}

.loading-icon-container {
  width: 100vw;
  max-width: 100%;
  height: 85vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.loading-icon-historical {
  width: 100vw;
  max-width: 100%;
  height: fit-content;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.loading-icon-container-msg {
  width: 300px;
  height: 150px;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.legis-text {
  font-size: 0.85rem;
  color: #777;
  border-bottom: 1px solid #777;
}

.presenca-sessoes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.info-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 20px;
}

.charts-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.legis-container {
  width: fit-content;
  margin-bottom: 10px;
}

.last {
  padding-bottom: 90px;
}

.rv-xy-plot__series:hover {
  cursor: pointer;
}