.pesquisar {
  width: 90%;
}

.congresso-img {
  width: 200px;
  padding-top: 15px;
}

.center {
    margin-bottom: 74px;
}

.half-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 576px) {
    .center {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

    }
    
    .half-page {
      width:50%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}
