.ligth-green{
    background-color: #89ce64;
}

.ligth-green:hover{
    background-color:  #4bbf5b
}

.ligth-green:active{
    background-color:  #4bbf5b
}

.button-a{
    border:none;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 15px 100px;
    color:white;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    margin: 20px 0 5px 0;

}