.ligth-green{
    background-color: #89ce64;
}

.ligth-green:hover{
    background-color:  #2da661
}

.ligth-green:active{
    background-color:  #2da661
}

.button-a{
    border:none;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 15px 100px;
    color:white;
    outline: none;
    font-weight: 700;
    font-size: 16px;
}