/* ROXO: #7469bf 
   VERDE PRINCIPAL: #4bbf5b
   VERDE SECUNDÁRIO: #2da661
   VERDE CLARO: #9cdab1
   CINZA: #f2f2f2
   VERDE BOTÃO: #89ce64*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 260px;
}

h1{
    font-family: 'Blinker', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #4bbf5b;
    padding-bottom: 15px;
    /* width: 150px; */
}

h3{
    color:white;
    text-align: center;
}

.gif{
    width:180px;
}