.ul-sessoes-votacoes {
  font-size: 0.9rem;
  list-style: none;
}

.ul-sessoes-votacoes li{
  margin-bottom: 19px;
}

@media(max-width: 681px) {
  .ul-sessoes-votacoes {
    font-size: 0.8rem;
  }
}

.ul-sessoes-votacoes span{
  font-weight: bold;
  color: #4bbf5b;
}

.dialog {
  padding: 10px;
}

.link-to-votes {
  padding: 8px;
  border-bottom: #CCC;
  border-radius: 3px;
  text-decoration: none;
  color: rgb(120,120,120);
}

#draggable-dialog-title {
  color: #4bbf5b;
}

.MuiButton-root {
  color: white !important;
  background-color: #89ce64 !important;
  /* border-radius: 30% !important; */
  padding: 8px 20px !important;
}

.MuiButton-root:hover {
  background-color: #2da661 !important;
}
