nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  padding: 10px 40px;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 0px 12px 1px rgba(189, 189, 189, 0.47);
}

.logo{
  width: 57px;
  height: 57px;
}

nav::before {
  display: block;
  content: " ";
  margin-top: -285px;
  height: 285px;
  visibility: hidden;
  pointer-events: none;
}

nav img {
  width: 35px;
  height: 35px;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-ul li {
  padding: 0 40px;
}

.nav-a {
  text-decoration: none;
  color: #4bbf5b;
  font-weight: 700;
  padding-left: 50px;
}

.logo-home {
  font-family: "Blinker", sans-serif;
  font-size: 30px;
}

@media (min-width: 576px) {
  nav {
    position: relative;
    width: 100%;
    display: flex;
    height: 60px;
  }

  nav img {
    width: 35px;
    height: 35px;
    padding-right: 10px;
  }

  .home {
    display: none;
  }

  nav div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .nav-ul {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}
.eye-animation {  
  width: 80px;
  height: 53px;
  background-image: url('/images/eye.png');
  background-size: 1800%, 100%;
  background-position: right;
  background-repeat:no-repeat;
}

.eye-animation:hover{
  animation-name: eye-fill;
  animation-duration: 1.3s;
  animation-timing-function: steps(17);
  animation-iteration-count: infinite;
}

@keyframes eye-fill {
  from { 
    background-position: left; 
  }
  to { 
    background-position: right; 
  }
}