nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #4bbf5b;
  padding: 10px 0;
  z-index: 2;
}

nav img {
  width: 35px;
  height: 35px;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-ul {
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  align-items: center;
}

nav li {
  margin: 0 30px;
}

.nav-a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

@media (min-width: 576px) {
  nav {
    position: static;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #4bbf5b;
    padding: 10px 0;
  }

  nav img {
    width: 35px;
    height: 35px;
    padding-right: 10px;
  }

  .home{
    display: none;
  }

  nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-ul {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    align-items: center;
  }

  nav li {
    margin: 0 30px;
  }

  .nav-a {
    text-decoration: none;
    color: white;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}
