nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  padding: 5px 0 18px;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 0px 12px 1px rgba(189, 189, 189, 0.47);
}

.desappear{
  display: none;
}

.logo{
  width: 57px;
  height: 57px;
}

nav img {
  width: 35px;
  height: 35px;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.links-nav{
  width:70%;
}


.nav-a {
  text-decoration: none;
  color: #4bbf5b;
  font-weight: 700;
  padding-left: 10px;
}

.hover-nav:hover {
  text-decoration: none;
  color: #2da661;
}

.logo-home {
  font-family: "Blinker", sans-serif;
  font-size: 30px;
}

@media(min-width:376px){
  nav {
    justify-content: space-between;
  }

  .desappear{
    display: flex;
  }
  .links-nav{
    width:320px;
  }

}

@media (min-width: 576px) {
  nav {
    position: relative;
    width: 100%;
    height: 60px;
  }

  nav img {
    width: 35px;
    height: 35px;
    padding-right: 10px;
  }

  .home {
    display: none;
  }

  nav div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .nav-ul {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
}

@media (min-width: 710px) {
  .links-nav{
    padding-right: 40px;
  }
  .nav-a{
    padding-left: 50px;
  }
}

@media (min-width: 1200px) {
}
.eye-animation {  
  width: 80px;
  height: 53px;
  background-image: url('/images/eye.png');
  background-size: 1800%, 100%;
  background-position: right;
  background-repeat:no-repeat;
}

.eye-animation:hover{
  animation-name: eye-fill;
  animation-duration: 1.3s;
  animation-timing-function: steps(17);
  animation-iteration-count: infinite;
}

@keyframes eye-fill {
  from { 
    background-position: left; 
  }
  to { 
    background-position: right; 
  }
}