.card{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.nome-card-politico{
   background-color: white;
   width:100%;
   height: fit-content;
   text-align: center;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
}

.elipse {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #a0de2c, rgba(5, 245, 220, 0));
   }